body {
    background-color: rgb(131, 238, 238);
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

body > div {
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 3vmin;
    padding: 3vmin;
}

h1,
h2,
h3 {
    text-align: center;
}

#notPlaying {
    width: 200px;
}

#notPlaying > form {
    display: grid;
    gap: 2vh;
}

#notPlaying > form > label {
    display: grid;
    gap: 1vh;
}

#playing {
    width: max(200px, 95vmin);
}