body {
    background-color: rgb(131, 238, 238);
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

body > div {
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 3vmin;
    padding: 3vmin;
}

button {
    background-color: rgba(255, 255, 255, 0.708);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    justify-self: center;
    padding: 10px;
}

button:active {
    background-color: rgba(255, 255, 255, 0.185);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.935);
}

#gameboard {
    background-color: black;
    display: grid;
    gap: 2px;
    height: max(60vmin, 150px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    width: max(60vmin, 150px);
}

#gameboard > div {
    background-color: rgba(255, 255, 255, 0.975);
    display: grid;
    font-size: max(15vmin, 40px);
    font-weight: bold;
    place-content: center;
}

h1,
h2,
h3 {
    text-align: center;
}

#notPlaying {
    width: 200px;
}

#notPlaying > form {
    display: grid;
    gap: 2vh;
}

#notPlaying > form > label {
    display: grid;
    gap: 1vh;
}

#playing {
    display: grid;
    gap: 2vmin;
    justify-content: center;
}

.winner {
    color: rgb(4, 184, 4);
}